.App {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .produto-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .produto-card {
    border: 1px  solid #e999e9;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 300px;
  }
  
  .produto-card h3{
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .produto-card img {
    max-width: 100%;
    height: auto;
  }
  
  .produto-card button {
    background-color: #e999e9;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }